<h1>
  <u>
    <%= @article.title %>
  </u>
</h1>

<p align = "justify">
  <%= @article.text %>
</p>

<br>

<p><b>Comments:</b></p>
<%= render "comments/comment" %>

<br>

<p><b>Add a comment:</b></p>
<%= render "comments/add_comment" %>

<br>

<p>
  <%= link_to "Edit", edit_article_path(@article) %> &nbsp;-&nbsp;
  <%= link_to "Delete", article_path(@article),method: :delete, data: { confirm: "Are you sure?" } %>
</p>

<p>
  <%= link_to "Back", articles_path %>
<p>
